//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (36 / 12);
$o-theme-h2-font-size-multiplier: (30 / 12);
$o-theme-h3-font-size-multiplier: (24 / 12);
$o-theme-h4-font-size-multiplier: (18 / 12);
$o-theme-h5-font-size-multiplier: (14 / 12);
$o-theme-h6-font-size-multiplier: 1;

$o-theme-font-configs: (
    'Spartan': (
        'family': ('Spartan', sans-serif),  // font update - SinKinSans -> Spartan
        'url': 'Spartan:300,300i,400,400i,700,700i',
    ),
    'Rajdhani': (
        'family': ('Rajdhani', sans-serif),
        'url': 'Rajdhani:300,300i,400,400i,700,700i',
    ),
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Ubuntu': (
        'family': ('Ubuntu', sans-serif),
        'url': 'Ubuntu:300,300i,400,400i,700,700i',
    ),
    'Lato': (
        'family': ('Lato', sans-serif),
        'url': 'Lato:300,300i,400,400i,700,700i',
    ),
    'Playfair Display': (
        'family': ('Playfair Display', serif),
        'url': 'Playfair+Display:300,300i,400,400i,700,700i',
    ),
    'Lora': (
        'family': ('Lora', serif),
        'url': 'Lora:300,300i,400,400i,700,700i',
    ),
    'Barlow Condensed': (
        'family': ('Barlow Condensed', sans-serif),
        'url': 'Barlow+Condensed:300,300i,400,400i,700,700i',
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'yes-1',
        'font': 'Lora',
        'headings-font': 'Lora',
        'navbar-font': 'Lora',
        'buttons-font': 'Lora',
        'header-template': 'default',
        'footer-template': 'descriptive',
        'header-links-style': 'border-bottom',
        'logo-height': 3rem,
        'fixed-logo-height': 3rem,
    ),
);

$o-palette-priority-prefix: 'yes';

$o-color-palettes-compatibility-indexes: (
    1: 'yes-1',
    2: 'yes-2',
    3: 'yes-3',
    4: 'yes-4',
    5: 'generic-1',
    6: 'generic-2',
    7: 'generic-3',
    8: 'generic-4',
    9: 'generic-5',
    10: 'generic-6',
    11: 'generic-7',
    12: 'generic-8',
    13: 'generic-9',
    14: 'generic-10',
    15: 'generic-11',
    16: 'generic-12',
    17: 'generic-13',
    18: 'generic-14',
    19: 'generic-15',
    20: 'generic-16',
    21: 'generic-17',
);
