
//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: append($o-theme-fonts, ('Radley', serif));
$o-theme-font-urls: append($o-theme-font-urls, 'Radley:300,300i,400,400i,700,700i');
$o-theme-font-names: append($o-theme-font-names, 'Radley');

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'header-font-size': (13 / 16) * 1rem,
        'font-number': 9,
        'headings-font-number': 9,
        'navbar-font-number': 1,
        'buttons-font-number': 9,
    ),
);
