
//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: append($o-theme-fonts, ('Radley', serif));
$o-theme-font-urls: append($o-theme-font-urls, 'Radley:400,400i');
$o-theme-font-names: append($o-theme-font-names, 'Radley');
