.s_share {
    .s_share_title {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    a {
        &:hover {
            text-decoration: none;
            .fa {
                background-color: theme-color('alpha');
                color: #fff;
            }
        }
        .fa {
            background-color: gray('200');
            color: theme-color('alpha');
        }
        @include fa-size-generator(20px);
    }
}
