.s_well {
    box-shadow: $o-theme-shadow;

    .card-text {
        overflow: hidden;
    }
    p, ul, ol {
        width: 100%;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
