//------------------------------------------------------------------------------
// Theme
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'color-palettes-name': 'default-light-14',
        'layout': 'full',

        // Header
        'header-template': 'boxed',
        'logo-height': 2.5rem,
        'fixed-logo-height': 2.5rem,
        'menu-border-width': 2px,

        // Font
        'font': 'SN Pro',
        'headings-font': 'Lilita One',

        // Footer
        'footer-template': 'call_to_action',

        // Buttons
        'btn-secondary-outline': true,
        'btn-secondary-outline-border-width': 3px,
        'btn-border-radius': 10rem,
        'btn-border-radius-sm': 10rem,
        'btn-border-radius-lg': 10rem,
        'btn-padding-y': .5rem,
        'btn-padding-x': 1.5rem,
        'btn-padding-y-lg': 1rem,
        'btn-padding-x-lg': 3rem,
        'btn-padding-y-sm': .25rem,
        'btn-padding-x-sm': .75rem,
        'btn-border-width': 3px,

        // Inputs
        'input-border-radius': .75rem,
        'input-border-radius-lg': 1rem,
        'input-border-radius-sm': .5rem,
        'input-padding-y': .75rem,
        'input-padding-x': .75rem,
        'input-padding-y-lg': 1rem,
        'input-padding-x-lg': 1rem,
        'input-padding-y-sm': .5rem,
        'input-padding-x-sm': .5rem,
    ),
);

$default-light-14: map-get($o-color-palettes, 'default-light-14');
$default-light-14: map-merge($default-light-14, ('footer': 5, 'menu-border-color': 5));
$default-light-14: map-merge($default-light-14, ('o-cc4-btn-primary': 'o-color-4', 'o-cc1-btn-secondary': 'o-color-5', 'o-cc2-btn-secondary': 'o-color-5', 'o-cc3-btn-secondary': 'o-color-4', 'o-cc4-btn-secondary': 'o-color-4', 'o-cc5-btn-secondary': 'o-color-4'));
$o-color-palettes: map-merge($o-color-palettes, ('default-light-14': $default-light-14));

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
    'SN Pro': (
        'family': ('SN Pro', sans-serif),
        'url': 'SN+Pro:300,300i,400,400i,500,500i',
    ),
    'Inter': (
        'family': ('Inter', sans-serif),
        'url': 'Inter:300,300i,400,400i,700,700i',
    ),
    'Outfit': (
        'family': ('Outfit', sans-serif),
        'url': 'Outfit:300,400,700',
    ),
    'Lilita One': (
        'family': ('Lilita One', sans-serif),
        'url': 'Lilita+One:400',
    ),
);
