//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
    'Inter': (
        'family': ('Inter', sans-serif),
        'url': 'Inter:300,300i,400,400i,600,600i,800,800i',
    ),

    'Inter Tight': (
        'family': ('Inter Tight', sans-serif),
        'url': 'Inter+Tight:300,300i,400,400i,600,600i,700,700i',
    ),

    'Nunito': (
        'family': ('Nunito', serif),
        'url': 'Nunito:300,300i,400,400i,700,700i',
    ),

    'Abril Fatface': (
        'family': ('Abril Fatface', serif),
        'url': 'Abril+Fatface:300,300i,400,400i,700,700i',
    ),
);


//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'color-palettes-name': 'base-2',

        'font': 'Inter',
        'headings-font': 'Inter Tight',

        'footer-template': 'headline',

        'btn-border-radius-lg': .5rem,
        'btn-padding-y-lg': .75rem,
        'btn-padding-x-lg': 1.5rem,
    ),
);

$o-color-palettes-compatibility-indexes: (
    1: 'paptic-1',
    2: 'generic-1',
    3: 'generic-2',
    4: 'generic-3',
    5: 'generic-4',
    6: 'generic-5',
    7: 'generic-6',
    8: 'generic-7',
    9: 'generic-8',
    10: 'generic-9',
    11: 'generic-10',
    12: 'generic-11',
    13: 'generic-12',
    14: 'generic-13',
    15: 'generic-14',
    16: 'generic-15',
    17: 'generic-16',
    18: 'generic-17',
);

//------------------------------------------------------------------------------
// Shapes
//------------------------------------------------------------------------------

$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Blocks/04', (3: 1));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Origins/03', (3: 1));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Origins/01', (2: 3, 5: 3));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Origins/02_001', (4: 1, 5: 3));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Origins/07_002', (3: 1, 4: 3, 5: 1));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Floats/03', (1: 4, 2: 2, 3: 3, 5: 2));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Airy/12_001', (1: 5, 3: 1));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Bold/08', (1: 3));
$o-bg-shapes: change-shape-colors-mapping('html_builder', 'Blocks/01_001', (1: 4, 3: 2, 5: 4));
