@font-face {
    font-family: "Orbitron";
    src: url("/theme_evmotiv/static/fonts/Orbitron-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/theme_evmotiv/static/fonts/SpaceGrotesk-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
