//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (25 / 12);
$o-theme-h2-font-size-multiplier: (18 / 12);
$o-theme-h3-font-size-multiplier: (16 / 12);
$o-theme-h4-font-size-multiplier: (14 / 12);
$o-theme-h5-font-size-multiplier: 1;
$o-theme-h6-font-size-multiplier: 1;

$o-theme-font-configs: (
    'Heebo': (
        'family': ('Heebo', sans-serif),
        'url': 'Heebo:300,300i,400,400i,700,700i',
    ),
    'Rajdhani': (
        'family': ('Rajdhani', sans-serif),
        'url': 'Rajdhani:300,300i,400,400i,700,700i',
    ),
    'Raleway': (
        'family': ('Raleway', sans-serif),
        'url': 'Raleway:300,300i,400,400i,700,700i',
    ),
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Ubuntu': (
        'family': ('Ubuntu', sans-serif),
        'url': 'Ubuntu:300,300i,400,400i,700,700i',
    ),
    'Poppins': (
        'family': ('Poppins', sans-serif),
        'url': 'Poppins:300,300i,400,400i,700,700i',
    ),
    'Questrial': (
        'family': ('Questrial', sans-serif),
        'url': 'Questrial:300,300i,400,400i,700,700i',
    ),
    'Muli': (
        'family': ('Muli', sans-serif),
        'url': 'Muli:300,300i,400,400i,700,700i',
    ),
);

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'color-palettes-name': 'beauty-1',

        'header-font-size': (18 / 16) * 1rem,
        'btn-border-radius': .3125rem,
        'btn-border-radius-lg': .3125rem,
        'btn-border-radius-sm': .3125rem,
        'font': 'Questrial',
        'headings-font': 'Questrial',
        'navbar-font': 'Questrial',
        'buttons-font': 'Questrial',
        'header-template': 'contact',
        'footer-template': 'default',
        'header-links-style': 'outline',
    ),
);

$o-palette-priority-prefix: 'beauty';

$o-color-palettes-compatibility-indexes: (
    1: 'beauty-1',
    2: 'beauty-2',
    3: 'beauty-3',
    4: 'beauty-4',
    5: 'beauty-5',
    6: 'beauty-6',
    7: 'generic-1',
    8: 'generic-2',
    9: 'generic-3',
    10: 'generic-4',
    11: 'generic-5',
    12: 'generic-6',
    13: 'generic-7',
    14: 'generic-8',
    15: 'generic-9',
    16: 'generic-10',
    17: 'generic-11',
    18: 'generic-12',
    19: 'generic-13',
    20: 'generic-14',
    21: 'generic-15',
    22: 'generic-16',
    23: 'generic-17',
);
