$o-theme-font-size-base: 1rem;

$bg-img-01: url("/theme_bewise/static/src/img/backgrounds/bg_img_01.jpg");
$bg-img-02: url("/theme_bewise/static/src/img/backgrounds/bg_img_02.jpg");
$bg-img-03: url("/theme_bewise/static/src/img/backgrounds/bg_img_03.jpg");
$bg-img-04: url("/theme_bewise/static/src/img/backgrounds/bg_img_04.jpg");
$bg-img-05: url("/theme_bewise/static/src/img/backgrounds/bg_img_05.jpg");
$bg-img-06: url("/theme_bewise/static/src/img/backgrounds/bg_img_06.jpg");
$bg-img-07: url("/theme_bewise/static/src/img/backgrounds/bg_img_07.jpg");
$bg-img-08: url("/theme_bewise/static/src/img/backgrounds/bg_img_08.jpg");
$bg-img-09: url("/theme_bewise/static/src/img/backgrounds/bg_img_09.jpg");
$bg-img-10: url("/theme_bewise/static/src/img/backgrounds/bg_img_10.jpg");
$bg-img-11: url("/theme_bewise/static/src/img/backgrounds/bg_img_11.jpg");
$bg-img-12: url("/theme_bewise/static/src/img/backgrounds/bg_img_12.jpg");

$bg-pattern-01: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_01.jpg");
$bg-pattern-02: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_02.jpg");
$bg-pattern-03: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_03.jpg");
$bg-pattern-04: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_04.jpg");
$bg-pattern-05: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_05.jpg");
$bg-pattern-06: url("/theme_bewise/static/src/img/backgrounds/bg_pattern_06.jpg");

$content-img-01: url("/theme_bewise/static/src/img/content/content_img_01.png");
$content-img-02: url("/theme_bewise/static/src/img/content/content_img_02.png");
$content-img-03: url("/theme_bewise/static/src/img/content/content_img_03.png");
$content-img-04: url("/theme_bewise/static/src/img/content/content_img_04.png");
$content-img-05: url("/theme_bewise/static/src/img/content/content_img_05.png");
$content-img-06: url("/theme_bewise/static/src/img/content/content_img_06.png");
$content-img-07: url("/theme_bewise/static/src/img/content/content_img_07.png");
$content-img-08: url("/theme_bewise/static/src/img/content/content_img_08.png");
$content-img-09: url("/theme_bewise/static/src/img/content/content_img_09.jpg");
$content-img-10: url("/theme_bewise/static/src/img/content/content_img_10.jpg");
$content-img-11: url("/theme_bewise/static/src/img/content/content_img_11.jpg");
$content-img-14: url("/theme_bewise/static/src/img/content/content_img_14.png");

$content-logo: url("/theme_bewise/static/src/img/content/content_logo.png");
$content-logo-small: url("/theme_bewise/static/src/img/content/content_logo_small.png");

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

// Theme colors
$o-theme-color-palettes: (
    (
        alpha: #11b6a8,
        beta: #B9EAE8,
        gamma: #fda301,
        delta: #febf00,
        epsilon: #1b7f7e,
    ),
    (
        alpha: #45AADA,
        beta: #B3DCF0,
        gamma: #f74b94,
        delta: #FDC6DD,
        epsilon: #ea3884,
    ),
    (
        alpha: #8578b9,
        beta: #c1badb,
        gamma: #FDF002,
        delta: #FEF994,
        epsilon: #dbb132,
    ),
    (
        alpha: #87bd70,
        beta: #C4E6B5,
        gamma: #fe5e6d,
        delta: #F2BFC5,
        epsilon: #ce2b3a,
    ),
);

// Grays
$o-gray-color-palettes: ();
@each $-palette in $o-theme-color-palettes {
    $o-gray-color-palettes: append($o-gray-color-palettes, (
        'black': #000000,
        '900': lighten(#000, 40%),
        '700': lighten(#000, 55%),
        '600': lighten(#000, 70%),
        '200': lighten(#000, 80%),
        'white': #FFFFFF,
    ));
}

// Colors
$o-color-palettes: ();
$i: 1;
@each $-palette in $o-theme-color-palettes {
    $o-color-palettes: append($o-color-palettes, (
        body: map-get($-palette, 'beta'),
        menu:  #F8F8F8,
        footer: rgba(255, 255, 255, 0),
        text: map-get(nth($o-gray-color-palettes, $i), '700'),
        h1: map-get($-palette, 'gamma'),
    ));
    $i: $i + 1;
}

//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font-number': 1,
        'headings-font-number': 2,
        'navbar-font-number': 2,
        'buttons-font-number': 1,
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-fonts: (
    ('Lato', sans-serif),
    ('Indie Flower', cursive),
    ('Alegreya Sans SC', sans-serif),
    ('Rosario', sans-serif),
    ('Roboto', sans-serif),
    ('Lobster Two', cursive),
    ('Philosopher', sans-serif),
    ('Droid Serif', serif),
);
$o-theme-font-urls: (
    'Lato:300,300i,400,400i,700,700i',
    'Indie+Flower:300,300i,400,400i,700,700i',
    'Alegreya+Sans+SC:300,300i,400,400i,700,700i',
    'Rosario:300,300i,400,400i,700,700i',
    'Roboto:300,300i,400,400i,700,700i',
    'Lobster+Two:300,300i,400,400i,700,700i',
    'Philosopher:300,300i,400,400i,700,700i',
    null,
);
$o-theme-font-names: (
    'Lato',
    'Indie Flower',
    'Alegreya',
    'Rosario',
    'Roboto',
    'Lobster Two',
    'Philosopher',
    'Droid Serif',
);
