// =============================
// === DEFINE MAIN COLOURS  ====
// =============================

// Resets bootstrap greyscale and add steps
@gray-white      : lighten(@gray-base, 100%);
@gray-lighter    : lighten(@gray-base, 93.5%);
@gray-light-light: lighten(@gray-base, 82%);
@gray-light      : lighten(@gray-base, 65.5%);
@gray-light-dark : lighten(@gray-base, 50%);
@gray            : lighten(@gray-base, 33.5%);
@gray-dark-light : lighten(@gray-base, 25%);
@gray-dark       : lighten(@gray-base, 22%);
@gray-dark-dark  : lighten(@gray-base, 19%);
@gray-darker     : lighten(@gray-base, 16%);
@gray-darkest    : lighten(@gray-base, 13%);
@gray-base       : #000;

.o-create-color-classes(~'gray-light-light', @gray-light-light);
.o-create-color-classes(~'gray-light-dark', @gray-light-dark);
.o-create-color-classes(~'gray-dark-light', @gray-dark-light);
.o-create-color-classes(~'gray-dark-dark', @gray-dark-dark);
.o-create-color-classes(~'gray-darkest', @gray-darkest);

// Theme_common color' system
@color-alpha     : @brand-primary;
@color-beta      : @brand-success;
@color-gamma     : @brand-info;
@color-delta     : @brand-warning;
@color-epsilon   : @brand-danger;

@color-alpha-lighter   : lighten( @color-alpha, 10%);
@color-beta-lighter    : lighten( @color-beta, 10%);
@color-gamma-lighter   : lighten( @color-gamma, 10%);
@color-delta-lighter   : lighten( @color-delta, 10%);
@color-epsilon-lighter : lighten( @color-epsilon, 10%);

@color-alpha-light     : lighten( @color-alpha, 5%);
@color-beta-light      : lighten( @color-beta, 5%);
@color-gamma-light     : lighten( @color-gamma, 5%);
@color-delta-light     : lighten( @color-delta, 5%);
@color-epsilon-light   : lighten( @color-epsilon, 5%);

@color-alpha-dark      : darken( @color-alpha, 5%);
@color-beta-dark       : darken( @color-beta, 5%);
@color-gamma-dark      : darken( @color-gamma, 5%);
@color-delta-dark      : darken( @color-delta, 5%);
@color-epsilon-dark    : darken( @color-epsilon, 5%);

@color-alpha-darker    : darken( @color-alpha, 10%);
@color-beta-darker     : darken( @color-beta, 10%);
@color-gamma-darker    : darken( @color-gamma, 10%);
@color-delta-darker    : darken( @color-delta, 10%);
@color-epsilon-darker  : darken( @color-epsilon, 10%);

.o-create-color-classes(~'alpha-lighter', @color-alpha-lighter);
.o-create-color-classes(~'beta-lighter', @color-beta-lighter);
.o-create-color-classes(~'gamma-lighter', @color-gamma-lighter);
.o-create-color-classes(~'delta-lighter', @color-delta-lighter);
.o-create-color-classes(~'epsilon-lighter', @color-epsilon-lighter);

.o-create-color-classes(~'alpha-light', @color-alpha-light);
.o-create-color-classes(~'beta-light', @color-beta-light);
.o-create-color-classes(~'gamma-light', @color-gamma-light);
.o-create-color-classes(~'delta-light', @color-delta-light);
.o-create-color-classes(~'epsilon-light', @color-epsilon-light);

.o-create-color-classes(~'alpha-dark', @color-alpha-dark);
.o-create-color-classes(~'beta-dark', @color-beta-dark);
.o-create-color-classes(~'gamma-dark', @color-gamma-dark);
.o-create-color-classes(~'delta-dark', @color-delta-dark);
.o-create-color-classes(~'epsilon-dark', @color-epsilon-dark);

.o-create-color-classes(~'alpha-darker', @color-alpha-darker);
.o-create-color-classes(~'beta-darker', @color-beta-darker);
.o-create-color-classes(~'gamma-darker', @color-gamma-darker);
.o-create-color-classes(~'delta-darker', @color-delta-darker);
.o-create-color-classes(~'epsilon-darker', @color-epsilon-darker);

// =============================
// === Theme's Palette =========
// =============================

@color-alpha-palette-1   : #DBAD10;
@color-beta-palette-1    : #595959;
@color-gamma-palette-1   : #808F85;
@color-delta-palette-1   : #91C499;
@color-epsilon-palette-1 : #F2E9DC;

@color-alpha-palette-2   : #E91E63;
@color-beta-palette-2    : #FF9833;
@color-gamma-palette-2   : #339ACC;
@color-delta-palette-2   : #00CC64;
@color-epsilon-palette-2 : #572F59;

@color-alpha-palette-3   : #3BBFEE;
@color-beta-palette-3    : #58355E;
@color-gamma-palette-3   : #E03616;
@color-delta-palette-3   : #FFF689;
@color-epsilon-palette-3 : #CFFFB0;

@color-alpha-palette-4   : #009688;
@color-beta-palette-4    : #003249;
@color-gamma-palette-4   : #313715;
@color-delta-palette-4   : #ECCE8E;
@color-epsilon-palette-4 : #D16014;

@color-alpha-palette-5   : #F44336;
@color-beta-palette-5    : #450D0B;
@color-gamma-palette-5   : #1F143B;
@color-delta-palette-5   : #80A2BD;
@color-epsilon-palette-5 : #655557;

@color-alpha-palette-6   : #CDDC39;
@color-beta-palette-6    : #D6F8D6;
@color-gamma-palette-6   : #7FC6A4;
@color-delta-palette-6   : #5D737E;
@color-epsilon-palette-6 : #55505C;

@color-alpha-palette-7   : #FF5722;
@color-beta-palette-7    : #29335C;
@color-gamma-palette-7   : #F3A712;
@color-delta-palette-7   : #F0CEA0;
@color-epsilon-palette-7 : #534D41;

@color-alpha-palette-8   : #607D8B;
@color-beta-palette-8    : #3B1F2B;
@color-gamma-palette-8   : #A9ACA9;
@color-delta-palette-8   : #969397;
@color-epsilon-palette-8 : #60495A;
