#wrapwrap .s_profile_box {
    min-height: 450px;
    color: gray('800');

    @include media-breakpoint-down(md) {
        text-align: center;
    }

    h2 {
        color: gray('800');
    }

    span.tags
    {
        background: gray('700');
        border-radius: 2px;
        color: white;
        padding: 2px 4px;
    }

}

#wrapwrap .s_profile_box_divider {
    border-top: 1px solid lighten(gray('600'), 15%);
}

#wrapwrap .s_profile_box_emphasis:hover {
    transition: all 0.3s ease-in-out;
    background-color: lighten(gray('200'), 10%);
}

#wrapwrap .s_profile .card p, #wrapwrap .s_profile .card h2 {
    color: gray('800');
}
