$s-features-carousel-border-width: 0;
$s-features-carousel-indicators-visible: visible;
@mixin s-features-carousel-inner-hook {
    .carousel-inner .row {
        margin: 40px 70px;
        @include media-breakpoint-down(sm) {
            margin: 0;
        }
    }
}
@mixin s-features-carousel-mask-hook {
    border: 1px solid gray('200');
}
