//------------------------------------------------------------------------------
// Presets
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        // Palette
        'color-palettes-name': 'care',

        // Font
        'font': 'Inter',
        'headings-font': 'Mona Sans',

        // Header
        'header-template': 'boxed',
        'menu-border-radius': 1rem,

        // Footer
        'footer-template': 'call_to_action',
    ),
);

// Main palette
$o-color-palettes: map-merge($o-color-palettes, (
    'care': (
        'o-color-1': #4a90e2,
        'o-color-2': #17a2b8,
        'o-color-3': #f5faff,
        'o-color-4': #ffffff,
        'o-color-5': #07112f,

        'menu': 2,
        'footer': 5,
    )
));

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'care');

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-font-configs: (
    'Inter': (
        'family': ('Inter', sans-serif),
        'url': 'Inter:300,300i,400,400i,700,700i',
    ),
    'Mona Sans': (
        'family': ('Mona Sans', sans-serif),
        'url': 'Mona+Sans:400,400i,500,500i,700,700i',
    ),
);
