#pre-header {
    display: block!important;
}

// Customize Modal
body #theme_customize_modal #tab_options {
    .sample_header { padding-top: 0!important;}
    .pre_header{
        display: block!important;
    }
}
