/* ====================== GENERAL =====================*/

#wrap {
    margin: 80px auto;
}
.input-group[class*="col-"] {
    float: left;
}

@include o-theme-cfa-header-shadows();

/* ========== Navigation =========== */

footer {
    a, :not(.js_language_selector)li, small {
        a:not(.btn) {
            color: $white;
            &:hover, &:focus {
                color: theme-color('epsilon');
                text-decoration: none;
            }
        }

        transition: all 0.3s ease;
    }
    @include o-theme-cfa-footer-style($container-padding: 0 15px, $padding: 32px 0, $border-top: 1px solid gray('800'),
        $margin-right: 0, $h4-padding: 0, $text-transform: none);
}

/* ====================== Footer ======================== */

.big-icons {
    font-size: 80px;
    text-align: center;
    padding: 50px 0px;
}

@include o-theme-cfa-btn-style();

/* ====================== LOGIN =====================*/

.oe_login_form {
    .oe_login_buttons {
        .btn-primary {
            background: rgba(0, 0, 0, 0) !important;

            &:hover {
                color: o-theme-color('delta') !important;
            }
        }

        .btn-link {
            color: o-theme-color('delta');
        }
    }
}
.oe_website_login_container {
    padding: 50px;
}

/* ====================== form style ======================== */

.form-control:not(.quantity):not(.modal):not(.url-source) {
    @include o-theme-cfa-custom-form-control(false, false);
    background-color: rgba(0, 0, 0, 0);
}

@if $o-theme-layout == 'boxed' {
    #wrapwrap {
        padding: 0 !important;

        #wrap {
            width: 992px;
            margin-bottom: 0;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 0 auto;
            }
        }
        .navbar > .container {
            max-width: 100%;
        }
        .container {
            width: 992px;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .container {
            max-width: 100%;
        }
    }
    .navbar {
        width: 100%;
        margin: 0 auto;
    }
    footer:not(.modal-footer) {
        background: transparent !important;
    }
    #footer, .o_footer_copyright {
        width: 992px;
        margin: 0 auto;
        @if color('footer') {
            @include o-bg-color(color('footer'));
        }
    }
    @include media-breakpoint-down(md) {
        #footer {
            width: 100%;
        }
    }
} @else {
    @include o-theme-cfa-full-width-styles();
}

#wrap {
    .search {
        background-color: o-theme-color('alpha');
    }
}

@include o-theme-cfa-bg-img-classes();

@include o-theme-cfa-px-classes();

/* =====================  BLOG ===================== */

@include o-theme-cfa-website-blog-styles();

/* =====================  FORUM ===================== */
.o_wforum_navbar_container .navbar{
    padding: 0 15px;
}
@include o-theme-cfa-forum-style($bg-color: transparent, $nav-link-color: none);

/* ============== Breadcrumb in events, job etc ============== */

.breadcrumb {
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
}

/* ============== Nav-pills in events, job etc ============== */

@include o-theme-cfa-nav-pills-styles();


/* ============== Panel styles ============== */

@include o-theme-cfa-card-classes();

@if $o-theme-hamburger-layout {
    #wrapwrap > header > .navbar {
        a, li, small {
            a:not(.btn) {
                color: $white;
                &:hover, &:focus {
                    color: theme-color('epsilon');
                    text-decoration: none;
                }
            }
            transition: all 0.3s ease;
        }
    }

    .menu-close {
        color: $white;
        &:hover {
            color: o-theme-color('epsilon');
        }
    }


    header .navbar-brand {
        max-width: 100%;
    }


    #oe_main_menu_navbar ~ #wrapwrap > header > .navbar {
        top: $o-navbar-height;
    }
    #oe_main_menu_navbar ~ #wrapwrap #menuToggle {
        top: $o-navbar-height + $o-theme-menu-toggle-top;
    }

    #wrapwrap {
        > main, footer:not(.modal-footer) {
            position: relative;
            left: 0px;
            transition: all 0.3s ease;
        }

        > header > .navbar {
            transition: all 0.3s ease;
            background: none;
            position: fixed;
            height: 100%;
            top: 0;
            z-index: 100;
            &.menu-open {
                right: 0;
            }
            .container {
                overflow-y: auto;
                position: absolute;
                top: 0;
                display: block;
                width: 300px;
                height: 100%;
                h1 {
                    a {
                        margin-top: 20px;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0);
                        }
                    }
                    margin-left: 10%;
                    max-width: 260px;
                }
                .nav .dropdown-menu.show {
                    background: none;
                    position: static;
                    padding: 0;
                    float: left;
                    width: 100%;
                    margin-top: 0;
                    border: 0;
                    box-shadow: inset 0px 0px 10px -5px rgba(0,0,0,0.13);
                    color: $white;
                }
                .divider {
                    display: none; // hide divider if not signed in
                }
                li {
                    @include clearfix;
                    width: 100%;
                    margin: 0;
                    .dropdown-item.active {
                        background-color: rgba(0, 0, 0, 0);
                        color: rgb(119, 119, 119);
                    }
                }
                a {
                    padding: 0 5px;
                    margin: 0;
                    background-color: none;
                    display: block;
                    line-height: (40 / 14);
                    letter-spacing: 0.1em;
                    span {
                        padding: 0;
                        margin: 0;
                    }
                    .badge-primary {
                        background-color: o-theme-color('epsilon');
                    }
                }
                h2 {
                    font-size: 1em;
                    a {
                        display: inline-block; // social icons in menu
                    }
                }
            }

            #menuToggle {
                $-menu-toggle-color: rgba(color('menu'), 0.5);
                transition: all 0.3s ease-in-out;
                @include o-position-absolute($top: $o-theme-menu-toggle-top);
                display: block;
                text-align: center;
                font-size: 14px;
                color: color-yiq($-menu-toggle-color);
                width: 40px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                background: $-menu-toggle-color;
                transition: all 0.1s ease-in-out;
                &.active {
                    opacity: 0;
                }
                &:hover {
                    color: color-yiq(color('menu'));
                    background: color('menu');
                    transition: all 0.1s ease-in-out;
                    .fa-bars {
                        transform: rotate(180deg);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    /* ===================== DROPDOWN STYLES ==================== */
    .navbar .navbar-nav > .show {
        border: none;
        a:focus {
            background: rgba(0, 0, 0, 0);
        }
        &:active {
            background: rgba(0, 0, 0, 0);
        }
    }
    .dropdown-item {
        &:hover, &:focus {
            background: rgba(0, 0, 0, 0);
        }
    }
    header a.navbar-brand img {
        max-height: 200px;
    }
    .navbar {
        border: none;
        .container {
            padding: 0px 30px;

            .social-icons {
                position: absolute;
                bottom: 0;
                padding: 0;
                li {
                    float: none;
                }
                .social {
                    display: inline;
                    font-size: 25px;
                }
            }
            #top_menu {
                margin-top: 70px;
            }
        }
        .nav a.active {
            background-color: gray('800');
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

    .navbar {
        a {
            text-shadow: 0px 1px 0px $black;
        }
    }
    #top_menu li {
        border-bottom: 1px solid darken(color('menu'), 10%);

        li:last-child {
            border-bottom: none;
        }
    }

    .navbar .nav > .show a:focus {
        color: $white;
    }

    body {
        &.o_bigslide_open {
            #wrapwrap {
                @if $o-theme-nav-left {
                    width: 100%;
                    overflow: hidden;
                }
                header .navbar {
                    @if $o-theme-nav-left {
                        left: 0;
                    } @else {
                        right: 0;
                    }
                }
            }
        }
        @if $o-theme-nav-left {
            &.editor_enable {
                &.o_bigslide_open {
                    header .navbar {
                        left: $o-we-sidebar-width !important;
                    }
                }
                &:not(.o_bigslide_open) {
                    header .navbar {
                        left: $o-we-sidebar-width - 300 !important;
                    }
                }
            }
        }
    }

    #wrapwrap header .navbar {
        width: 300px;
        #{if($o-theme-nav-left, 'left', 'right')}: -300px;
        text-align: if($o-theme-nav-left, right, left);

        &.active {
            #{if($o-theme-nav-left, 'left', 'right')}: 0;
        }
        .container {
            box-shadow: if($o-theme-nav-left, 6px, -6px) 0px 20px 0px rgba(0,0,0,0.3);
            left: 0;
            li {
                text-align: if($o-theme-nav-left, right, left);
                a {
                    text-align: if($o-theme-nav-left, right, left);
                }
            }
        }
        #menuToggle {
            #{if($o-theme-nav-left, 'left', 'right')}: 100%;
        }
    }
    #wrapwrap > header > .navbar {
        li:not(.show) {
            &:hover {
                border-#{if($o-theme-nav-left, 'right', 'left')}: 3px solid o-theme-color('epsilon');
                a {
                    padding-#{if($o-theme-nav-left, 'right', 'left')}: 20px!important;
                }
            }
        }
    }
    @if $o-theme-nav-left {
        #top_menu li {
            li:last-child {
                &:hover {
                    border-right: 3px solid o-theme-color('delta');
                }
            }
        }
    }
}
