#wrapwrap > main > #wrap .oe_website_sale {
    .oe_cart {
        color: gray('700');
        .text-danger {
            color: gray('700');
        }
    }
    .product_price {
        color: gray('700') !important;
    }

    .form-inline .input-group {
        @include PlaceholderStyle(gray('700'));
        .form-control {
            color: gray('700');
        }
    }
}
