
.s_three_columns {
    padding-top: 80px !important;
    img {
        margin: 0 auto;
        border-radius: 0;
    }
    .container {
        width: 100%;
    }
    h4 {
        text-align: center;
    }
}
