/* ==========================================================================
   TRAVEL
   ========================================================================== */


/* Colors
   ========================================================================== */

@color-alpha: @travel-alpha;
@color-beta: @travel-beta;
@color-gamma: @travel-gamma;
@color-delta: @travel-delta;
@color-epsilon: @travel-epsilon;


/* Grayscale
   ========================================================================== */

@gray-darker: #323a49;
@gray: #a8b3c0;
@gray-lighter: #d5deeb;


/* Content Colors
   ========================================================================== */

#wrapwrap{
	.white(@gray-darker);
	.gray-lighter(@gray-darker);
	.gray(#fff);
	.gray-darker(#fff);
	.alpha(#fff);
	.beta(#fff);
	.gamma(#fff);
	.delta(#fff);
	.epsilon(#fff);
}

@layout-icons-color: #fff;
@link-color: @color-alpha;