#wrapwrap .s_four_columns_fw {
    @media (max-width: @screen-sm-max) {
        height: auto !important;
        [class*="bg-img-"]{
            min-height: 250px;
        }
    }
    div {
        height: 100%;
    }
    [class*="col-"] {
        padding: 30px;
    }
}
@media (max-width: @screen-sm-max) {
    #wrapwrap .s_four_columns_fw {
        height: auto !important;
        [class*="bg-img-"]{
            min-height: 250px;
        }
    }
}
