
@font-face {
    font-family: 'et-line';
    src: url('../fonts/et-line/et-line.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'et-line';
    content: attr(data-icon);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display:inline-block;
}
