// TODO Maybe we should handle light/dark variation in standard in such a way no
// extra classes are created (border-alpha-light, btn-epsilon-dark, ...)
$-palettes: $o-theme-color-palettes;
$o-theme-color-palettes: ();
@each $-palette in $-palettes {
    $o-theme-color-palettes: append($o-theme-color-palettes, map-merge($-palette, (
        'alpha-lighter'   : lighten(map-get($-palette, 'alpha'), 10%),
        'beta-lighter'    : lighten(map-get($-palette, 'beta'), 10%),
        'gamma-lighter'   : lighten(map-get($-palette, 'gamma'), 10%),
        'delta-lighter'   : lighten(map-get($-palette, 'delta'), 10%),
        'epsilon-lighter' : lighten(map-get($-palette, 'epsilon'), 10%),

        'alpha-light'     : lighten(map-get($-palette, 'alpha'), 5%),
        'beta-light'      : lighten(map-get($-palette, 'beta'), 5%),
        'gamma-light'     : lighten(map-get($-palette, 'gamma'), 5%),
        'delta-light'     : lighten(map-get($-palette, 'delta'), 5%),
        'epsilon-light'   : lighten(map-get($-palette, 'epsilon'), 5%),

        'alpha-dark'      : darken(map-get($-palette, 'alpha'), 5%),
        'beta-dark'       : darken(map-get($-palette, 'beta'), 5%),
        'gamma-dark'      : darken(map-get($-palette, 'gamma'), 5%),
        'delta-dark'      : darken(map-get($-palette, 'delta'), 5%),
        'epsilon-dark'    : darken(map-get($-palette, 'epsilon'), 5%),

        'alpha-darker'    : darken(map-get($-palette, 'alpha'), 10%),
        'beta-darker'     : darken(map-get($-palette, 'beta'), 10%),
        'gamma-darker'    : darken(map-get($-palette, 'gamma'), 10%),
        'delta-darker'    : darken(map-get($-palette, 'delta'), 10%),
        'epsilon-darker'  : darken(map-get($-palette, 'epsilon'), 10%),
    )));
}

// s_medias_list
$s-medias-list-bg-color-main: map-get(nth($o-gray-color-palettes, $o-gray-color-palette-number), 'white');

// s_numbers
$s-numbers-main-bg-color: map-get(nth($o-theme-color-palettes, $o-theme-color-palette-number), 'beta');
$s-numbers-numbers-color: map-get(nth($o-gray-color-palettes, $o-gray-color-palette-number), 'white');

// Google Map
$s-google-map-desc-bg: map-get(nth($o-theme-color-palettes, $o-theme-color-palette-number), 'beta');
$s-google-map-desc-hover-bg: map-get(nth($o-theme-color-palettes, $o-theme-color-palette-number), 'beta');

// s_page_header
$s-page-header-main-bg-color: map-get(nth($o-theme-color-palettes, $o-theme-color-palette-number), 'beta-lighter');
$s-page-header-main-font-color: map-get(nth($o-gray-color-palettes, $o-gray-color-palette-number), 'white');
$s-page-header-label-font-size: .9em;
$s-page-header-label-border-radius: .125rem;
$s-page-header-label-padding: .3125rem .5rem;
$s-page-header-label-margin: 0 .625rem 0 0;
$s-page-header-i-margin: 0 .375rem;
