// From old theme common.
@function o-theme-common-add-color-variations($from, $to, $variations: ('light': 10%, 'dark': -10%)) {
    $color-variations: ();
    @each $color-name in ('alpha', 'beta', 'gamma', 'delta', 'epsilon') {
        $color: map-get($from, $color-name);
        @if $color != null {
            @each $variation-name, $amount in $variations {
                $color-variations: map-merge($color-variations, (
                    '#{$color-name}-#{$variation-name}': adjust-color($color, $lightness: $amount),
                ));
            }
        }
    }
    @return map-merge($color-variations, $to);
}

// TODO Maybe we should handle light/dark variation in standard in such a way no
// extra classes are created (border-alpha-light, btn-epsilon-dark, ...)
$-palettes: $o-theme-color-palettes;
$o-theme-color-palettes: ();
$-variations: ('lighter': 10%, 'light': 5%, 'dark': -5%, 'darker': -10%);
@each $key, $-palette in $-palettes {
    $o-theme-color-palettes: map-merge($o-theme-color-palettes, ($key: o-theme-common-add-color-variations($-palette, $-palette, $-variations)));
}
$o-user-theme-color-palette: o-theme-common-add-color-variations($o-user-theme-color-palette, $o-user-theme-color-palette, $-variations);
