/* ==========================================================================
   ENVIRONMENT
   ========================================================================== */

/* Colors
   ========================================================================== */

@color-alpha: @environment-alpha;
@color-beta: @environment-beta;
@color-gamma: @environment-gamma;
@color-delta: @environment-delta;
@color-epsilon: @environment-epsilon;

/* Grayscale
   ========================================================================== */

// @gray-darker: #1d2127;
@gray: #A7A37E;
@gray-lighter: #EFECCA;

/* Content Colors
   ========================================================================== */

#wrapwrap{
  .white(@gray-darker);
  .gray-lighter(@gray-darker);
  .gray(#fff);
  .gray-darker(#fff);
  .alpha(#fff);
  .beta(#fff);
  .gamma(#fff);
  .delta(#fff);
  .epsilon(@gray-darker);
}

@layout-icons-color: #fff;
@link-color: @color-alpha;