/* ==========================================================================
   TECHNOLOGY
   ========================================================================== */

/* Colors
   ========================================================================== */

@color-alpha: @technology-alpha;
@color-beta: @technology-beta;
@color-gamma: @technology-gamma;
@color-delta: @technology-delta;
@color-epsilon: @technology-epsilon;

/* Grayscale
   ========================================================================== */

@gray-darker: #3F5765;
@gray: #348899;
@gray-lighter: #BDD4DE;

/* Content Colors
   ========================================================================== */

#wrapwrap{
  .white(@gray-darker);
  .gray-lighter(@gray-darker);
  .gray(#fff);
  .gray-darker(#fff);
  .alpha(#fff);
  .beta(@gray-darker);
  .gamma(@gray-darker);
  .delta(#fff);
  .epsilon(#fff);
}

@layout-icons-color: #fff;
@link-color: @color-alpha;