/* ==========================================================================
   AGENCY
   ========================================================================== */


/* Colors
   ========================================================================== */

@color-alpha: @agency-alpha;
@color-beta: @agency-beta;
@color-gamma: @agency-gamma;
@color-delta: @agency-delta;
@color-epsilon: @agency-epsilon;


/* Grayscale
   ========================================================================== */

@gray-darker: #20364d;
// @gray-dark: #20364d;
@gray: #50667e;
// @gray-light: #b8d1e6;
@gray-lighter: #e1effa;


/* Content Colors
   ========================================================================== */

#wrapwrap{
  .white(@gray-darker);
  .gray-lighter(@gray-darker);
  .gray(#fff);
  .gray-darker(#fff);
  .alpha(#fff);
  .beta(#fff);
  .gamma(#fff);
  .delta(@gray-darker);
  .epsilon(@gray-darker);
}

@layout-icons-color: #fff;
@link-color: @color-alpha;