//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (62 / 16);
$o-theme-h2-font-size-multiplier: (48 / 16);
$o-theme-h3-font-size-multiplier: (36 / 16);
$o-theme-h4-font-size-multiplier: (24 / 16);
$o-theme-h5-font-size-multiplier: (20 / 16);
$o-theme-h6-font-size-multiplier: (18 / 16);

$headings-font-weight:700;

$o-theme-font-configs: (
    'Poppins': (
        'family': ('Poppins', sans-serif), 
        'url': 'Poppins:300,300i,400,400i,700,700i',
    ),
    'Rajdhani': (
        'family': ('Rajdhani', sans-serif),
        'url': 'Rajdhani:300,300i,400,400i,700,700i',
    ),
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
    'Ubuntu': (
        'family': ('Ubuntu', sans-serif),
        'url': 'Ubuntu:300,300i,400,400i,700,700i',
    ),
    'Lato': (
        'family': ('Lato', sans-serif),
        'url': 'Lato:300,300i,400,400i,700,700i',
    ),
    'Playfair Display': (
        'family': ('Playfair Display', serif),
        'url': 'Playfair+Display:300,300i,400,400i,700,700i',
    ),
    'Lora': (
        'family': ('Lora', serif),
        'url': 'Lora:300,300i,400,400i,700,700i',
    ),
    'Barlow Condensed': (
        'family': ('Barlow Condensed', sans-serif),
        'url': 'Barlow+Condensed:300,300i,400,400i,700,700i',
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'bewise-2',

        'logo-height': 3rem,
        'fixed-logo-height': 3rem,
        // Fonts
        'header-font-size': 1rem,
        'font-size-base': .925rem,
        'font': 'Roboto',
        'headings-font': 'Poppins',
        'navbar-font': 'Poppins',
        'buttons-font': 'Poppins',
        // Links / Buttons
        'link-underline': 'never',
        'btn-border-radius': 10rem,
        // Header
        'header-links-style': 'pills',
        'header-template': 'Contact',
        // Footer
        'footer-template':                  'minimalist',
        'footer-effect':                    'slideout_slide_hover',
        'footer-scrolltop':                 true,
    ),
);

$o-palette-priority-prefix: 'kea';

$o-color-palettes-compatibility-indexes: (
    1: 'kea-1',
    2: 'kea-2',
    3: 'kea-3',
    4: 'kea-4',
    5: 'generic-1',
    6: 'generic-2',
    7: 'generic-3',
    8: 'generic-4',
    9: 'generic-5',
    10: 'generic-6',
    11: 'generic-7',
    12: 'generic-8',
    13: 'generic-9',
    14: 'generic-10',
    15: 'generic-11',
    16: 'generic-12',
    17: 'generic-13',
    18: 'generic-14',
    19: 'generic-15',
    20: 'generic-16',
    21: 'generic-17',
);

$o-theme-color-palettes-compatibility-indexes: (
    1: 'kea-1',
    2: 'kea-2',
    3: 'kea-3',
    4: 'kea-4',
    5: 'kea-5',
    6: 'kea-6',
);

//------------------------------------------------------------------------------
// Shapes
//------------------------------------------------------------------------------

$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Wavy/22', (3: 3));
$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Floats/02', (1: 4, 2: 3, 3: 2, 4: 3, 5: 5));
$o-bg-shapes: add-extra-shape-colors-mapping('web_editor', 'Wavy/22', 'second', (3: 3));
$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Wavy/03', (1: 4, 2: 3));
$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Floats/01', (1: 4, 2: 3, 3: 3, 4: 1, 5: 5));
$o-bg-shapes: change-shape-colors-mapping('web_editor', 'Origins/14_001', (3: 1, 4: 1));

