//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$o-theme-h1-font-size-multiplier: (48.83 / 16);
$o-theme-h2-font-size-multiplier: (39.06 / 16);
$o-theme-h3-font-size-multiplier: (31.25 / 16);
$o-theme-h4-font-size-multiplier: (25.00 / 16);
$o-theme-h5-font-size-multiplier: (20.00 / 16);
$o-theme-h6-font-size-multiplier: 1.1;

$o-theme-font-configs: (
    'Inter': (
        'family': ('Inter', serif),
        'url': 'Inter:400,400i,600,600i,800,800i',
    ),

    'Abril Fatface': (
        'family': ('Abril Fatface', serif),
        'url': 'Abril+Fatface:300,300i,400,400i,700,700i',
    ),
);


//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'color-palettes-name': 'cobalt-1',

        'font': 'Inter',
        'headings-font': 'Inter',
        'navbar-font': 'Inter',
        'buttons-font': 'Inter',

        'font-size-base': (14 / 16) * 1rem,
        'header-font-size': (14 / 16) * 1rem,

        'hamburger-type': 'off-canvas',
        'menu-box-shadow': false,

        'btn-ripple': true,
        'btn-secondary-outline': true,
        'btn-font-size': (14 / 16) * 1rem,
        'btn-border-radius': 2px,

        'btn-font-size-lg': (12 / 16) * 1rem,
        'btn-padding-y-lg': 1rem,
        'btn-padding-x-lg': 3.3rem,
    ),
);

$o-palette-priority-prefix: 'cobalt';

$o-color-palettes-compatibility-indexes: (
    1: 'cobalt-1',
    2: 'generic-1',
    3: 'generic-2',
    4: 'generic-3',
    5: 'generic-4',
    6: 'generic-5',
    7: 'generic-6',
    8: 'generic-7',
    9: 'generic-8',
    10: 'generic-9',
    11: 'generic-10',
    12: 'generic-11',
    13: 'generic-12',
    14: 'generic-13',
    15: 'generic-14',
    16: 'generic-15',
    17: 'generic-16',
    18: 'generic-17',
);
