//------------------------------------------------------------------------------//
// Presets
//------------------------------------------------------------------------------//

$o-website-values-palettes: (
    (
        'color-palettes-name': 'nano-1',

        // Header
        'header-template':                  'sidebar',
        'hamburger-type':                   'off-canvas',
        'hamburger-position':               'left',
        'header-font-size':                 1rem,
        'header-links-style':               'fill',

        // Font
        'font':                             'Nunito',
        'headings-font':                    'Nunito',
        'navbar-font':                      'Nunito',
        'buttons-font':                     'Nunito',

        // Body
        'font-size-base':                   1rem,
        'btn-ripple':                       true,

        // Footer
        'footer-template':                  'minimalist',
        'footer-effect':                    'slideout_slide_hover',
        'footer-scrolltop':                 true,
    ),
);

//------------------------------------------------------------------------------//
// Fonts
//------------------------------------------------------------------------------//

$o-theme-font-configs: (
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,500,500i',
    ),
    'Roboto Slab': (
        'family': ('Roboto Slab', serif),
        'url': 'Roboto+Slab:300,300i,400,400i,700,700i',
    ),
    'Dosis': (
        'family': ('Dosis', sans-serif),
        'url': 'Dosis:300,300i,400,400i,700,700i',
    ),
    'Lato': (
        'family': ('Lato', sans-serif),
        'url': 'Lato:300,300i,400,400i,700,700i',
    ),
    'Advent Pro': (
        'family': ('Advent Pro', sans-serif),
        'url': 'Advent+Pro:300,300i,400,400i,600,600i',
        'base': (
            'font-size-base':               1.125rem,
        ),
    ),
    'Oswald': (
        'family': ('Oswald', sans-serif),
        'url': 'Oswald:200,200i,400,400i,500,500i',
        'base': (
            'font-size-base':               1.25rem,
        ),
    ),
    'Oxygen': (
        'family': ('Oxygen', sans-serif),
        'url': 'Oxygen:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,600,600i',
    ),
    'Merriweather': (
        'family': ('Merriweather', serif),
        'url': 'Merriweather:300,300i,400,400i,700,700i',
    ),
    'Montserrat Alternates': (
        'family': ('Montserrat Alternates', sans-serif),
        'url': 'Montserrat+Alternates:300,300i,400,400i,600,600i',
    ),
    'Nunito': (
        'family': ('Nunito', sans-serif),
        'url': 'Nunito:300,300i,400,400i,700,700i',
    ),
);

//------------------------------------------------------------------------------//
// Colors
//------------------------------------------------------------------------------//

// Compatibility
$o-theme-color-palettes: map-merge($o-theme-color-palettes,
    (
        'nano-1': (
            'alpha':                            #ed8558,
            'beta':                             #74bcc5,
            'gamma':                            #7cc086,
            'delta':                            #afd5a6,
            'epsilon':                          #f3da80,
        ),
        'nano-2': (
            'alpha':                            #ed8c2b,
            'beta':                             #cf4a30,
            'gamma':                            #911146,
            'delta':                            #35203b,
            'epsilon':                          #88a825,
        ),
        'nano-3': (
            'alpha':                            #79bd8f,
            'beta':                             #00a388,
            'gamma':                            #046380,
            'delta':                            #4bb5C1,
            'epsilon':                          #beeb9f,
        ),
        'nano-4': (
            'alpha':                            #16c6cc,
            'beta':                             #d72d3c,
            'gamma':                            #ff6d3b,
            'delta':                            #ffb733,
            'epsilon':                          #ffd55c,
        ),
        'nano-5': (
            'alpha':                            #14212b,
            'beta':                             #e6e2af,
            'gamma':                            #c9de55,
            'delta':                            #962d3e,
            'epsilon':                          #413659,
        ),
        'nano-6': (
            'alpha':                            #db5d6b,
            'beta':                             #ea958e,
            'gamma':                            #fffcdb,
            'delta':                            #d4e090,
            'epsilon':                          #79d4be,
        ),
    )
);

$o-palette-priority-prefix: 'nano';

$o-color-palettes-compatibility-indexes: (
    1: 'nano-1',
    2: 'nano-2',
    3: 'nano-3',
    4: 'nano-4',
    5: 'nano-5',
    6: 'nano-6',
    7: 'generic-1',
    8: 'generic-2',
    9: 'generic-3',
    10: 'generic-4',
    11: 'generic-5',
    12: 'generic-6',
    13: 'generic-7',
    14: 'generic-8',
    15: 'generic-9',
    16: 'generic-10',
    17: 'generic-11',
    18: 'generic-12',
    19: 'generic-13',
    20: 'generic-14',
    21: 'generic-15',
    22: 'generic-16',
    23: 'generic-17',
);
