$o-theme-font-size-large: 1.5 * $o-theme-font-size-base;
$o-theme-font-size-small: 0.8125 * $o-theme-font-size-base;
$o-theme-font-size-extra-small: 0.75 * $o-theme-font-size-base;

$o-line-height-base: 1.4;
