$o-theme-font-size-extra-small: 0.75 * $o-theme-font-size-base;
$o-theme-font-size-large: 1.5 * $o-theme-font-size-base;
$o-theme-navbar-font-size: $o-theme-font-size-extra-small;
$o-theme-layout-font-size: $o-theme-font-size-small;

$o-font-weight-normal: 400;
$o-font-weight-bold: 600;
